@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #fff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fff;
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: ui-sans-serif, system-ui, sans-serif,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

button{
  border: none;
}
